.about-me {
  width: 100%;
  min-height: 70vh;
  position: relative;
  display: flex;
  background: #fff;
  @media (max-width: 768px) {
    flex-direction: column;
    min-height: 100vh;
  }
}

.photo {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  img {
    position: absolute;
    width: auto;
    height: 100%;
  }
  @media (max-width: 768px) {
    width: 100%;
    min-height: 40vh;
  }
}

.text {
  width: 50%;
  padding: 5%;
  @media (max-width: 768px) {
    width: 100%;
    margin: auto;
  }
}

.title {
  position: relative;
  display: inline-block;
  margin-bottom: 70px;
  color: #2f2e2e;
  font-size: 40px;
  font-weight: 400;
  font-family: 'EB Garamond', serif;
  &:after {
    content: '';
    width: 35px;
    height: 1px;
    position: absolute;
    display: block;
    background: #000;
    bottom: -30px;
  }
  @media (max-width:768px) {
    max-width: 90%;
    font-size: 25px;

  }
}

.p {
  font-size: 13px;
  color: #a0a09f;
  max-width: 360px;
  margin-bottom: 15px;
  &:last-child {
    margin: 0;
  }
}
