header {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.parallax-img-wrapper {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-self: center;
}

.parallax-img {
  position: relative;
  transform: translateY(0vh);
  width: 100vw;
  height: auto;
}

.header-title {
  color: #fff;
  font-family: 'EB Garamond';
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

.header-small {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 20px;
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
  }
  &:before {
    left: -50px;
  }
  &:after {
    right: -50px;
  }
}
